<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%} Title {% endblock %}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<div class="row min-vh-100">

    <div class="col-2 bg-dark text-white p-3 d-flex flex-column">
        <div class="pb-3">
            <h2>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bluesky" viewBox="0 0 16 16">
                    <path d="M3.468 1.948C5.303 3.325 7.276 6.118 8 7.616c.725-1.498 2.698-4.29 4.532-5.668C13.855.955 16 .186 16 2.632c0 .489-.28 4.105-.444 4.692-.572 2.04-2.653 2.561-4.504 2.246 3.236.551 4.06 2.375 2.281 4.2-3.376 3.464-4.852-.87-5.23-1.98-.07-.204-.103-.3-.103-.218 0-.081-.033.014-.102.218-.379 1.11-1.855 5.444-5.231 1.98-1.778-1.825-.955-3.65 2.28-4.2-1.85.315-3.932-.205-4.503-2.246C.28 6.737 0 3.12 0 2.632 0 .186 2.145.955 3.468 1.948"/>
                </svg>
                Меню
            </h2>
        </div>


        <hr class="border-secondary opacity-50 w-100 my-2">

        <div class="flex-grow-1 pt-2">
            <ul class="nav flex-column gap-2">
                <li class="nav-item">
                    <a href="{% url 'catalog:products' %}" class="nav-link text-white p-2 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                            <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
                        </svg>
                        Главная
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white p-2 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pass" viewBox="0 0 16 16">
                            <path d="M5.5 5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1z"/>
                            <path d="M8 2a2 2 0 0 0 2-2h2.5A1.5 1.5 0 0 1 14 1.5v13a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-13A1.5 1.5 0 0 1 3.5 0H6a2 2 0 0 0 2 2m0 1a3 3 0 0 1-2.83-2H3.5a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-13a.5.5 0 0 0-.5-.5h-1.67A3 3 0 0 1 8 3"/>
                        </svg>
                        Категории
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white p-2 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket2" viewBox="0 0 16 16">
                            <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0z"/>
                            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6z"/>
                        </svg>
                        Заказы
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white p-2 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-raised-hand" viewBox="0 0 16 16">
                            <path d="M6 6.207v9.043a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H6.236a1 1 0 0 1-.447-.106l-.33-.165A.83.83 0 0 1 5 2.488V.75a.75.75 0 0 0-1.5 0v2.083c0 .715.404 1.37 1.044 1.689L5.5 5c.32.32.5.754.5 1.207"/>
                            <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                        </svg>
                        Контакты
                    </a>
                </li>
            </ul>
            <ul class="nav flex-column gap-2">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
                            {% csrf_token %}
	                        <button type="submit" class="btn btn-link nav-link">Выйти
	                        </button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'users:login' %}" class="nav-link text-white p-2 rounded">
                            Войти
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'users:register' %}" class="nav-link text-white p-2 rounded">
                            Регистрация
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>


        <hr class="border-secondary opacity-50 w-100 my-2">

        <div class="pt-2">
            <div class="d-flex align-items-center">
                <div class="me-2">
                </div>
                <img src="https://i.pinimg.com/400x300/bb/63/70/bb6370b1950ca5b9ef5a0ed57068e390.jpg" alt="Описание" class="rounded-circle" style="width: 40px; height: 40px;">
                <small>{{ user.username }}</small>
            </div>
        </div>
    </div>

    <!-- Основная область (8/12) -->
    <div class="col-10 p-5 bg-light">
      {% block content%} {% endblock %}
        </div>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</div>
</html>