{% extends 'catalog/base.html'%}
{% block title %} Товар:{{product.name_product}}{% endblock %}
{% block content %}
{% include 'catalog/header.html' %}
        <h1 class="text-center">Информация о товаре {{product.name_product}}</h1>
        <img src='{{product.image_product}}' alt='{{product.name_product}}'>
        <p>Название товара: {{product.name_product}}</p>
        <p>Описание: {{product.description_product}}</p>
        <p>В категории: {{product.category_product}}</p>
        <p>Стоимость: {{product.price_product}}</p>
{% if user == product.owner or perms.product.delete_product %}
        <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
{% endif %}
{% if user == product.owner or perms.product.change_product%}
        <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-secondary">Редактировать</a>
{% endif %}
{% if "catalog.can_unpublish_product" in perms %}
    <form action="{% url 'catalog:product_unpublish' product.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Опубликовать</button>
    </form>
{% endif %}
{% endblock %}